.description {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    max-height: calc(3 * 1.5 * 14px);
    font-size: 14px;
    line-height: 1.5;
  }

  .single-job{
    color: white;
    background-color: rgba(29, 2, 24, 0.438);
    border: 2px solid rgb(151, 95, 95);
    border-radius: 15px;
    padding:3px;
    margin:5px;
    height:250px;
    
  }